[submodule "evm_vaults/lib/openzeppelin-contracts"]
	path = evm_vaults/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "base_controller/lib/forge-std"]
	path = base_controller/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "flare_btc_hedge/lib/forge-std"]
	path = flare_btc_hedge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "flare_btc_hedge/lib/solidity-bytes-utils"]
	path = flare_btc_hedge/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "flare_btc_hedge/lib/LayerZero-v2"]
	path = flare_btc_hedge/lib/LayerZero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
[submodule "flare_btc_hedge/lib/devtools"]
	path = flare_btc_hedge/lib/devtools
	url = https://github.com/LayerZero-Labs/devtools
[submodule "flare_btc_hedge/lib/layerzero-v2"]
	path = flare_btc_hedge/lib/layerzero-v2
	url = https://github.com/LayerZero-Labs/layerzero-v2
